<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Отзывы</title>
</head>
<body>
    <h2>Оставить отзыв</h2>
    <form th:action="@{/reviews}" method="post">
        <input type="hidden" name="formType" value="review" />
        <textarea name="reviewContent" required></textarea><br/>
        <button type="submit">Отправить</button>
    </form>
    <ul th:if="${reviews != null}" th:each="review : ${reviews}">
        <li th:text="${review.content}"></li>
    </ul>
</body>
</html>
